{{ $name := .Get "name" }}
{{ $title := .Get "title" }}
{{ $imageSrc := .Get "image" }}
{{ $imageAlt := .Get "alt" }}
{{ $imageWidth := .Get "width" }}
{{ $contact := .Get "contact" }}
{{ $scholar := .Get "scholar"}}
{{ $website := .Get "website"}}
<div>
    <h2>{{ $name }} ({{ $title }})</h2>
<img src="{{ $imageSrc }}" alt="{{ $imageAlt }}" width="{{ $imageWidth }}">
<div>
     {{ .Inner | markdownify }}
 </div>
<div>email: {{$contact}}</div>
{{ if $scholar }}
<div><a href={{$scholar}}>google scholar</a></url> </div>
{{ end }}
{{ if $website }}
<div><a href={{$website}}>website</a></url> </div>
{{ end }}
</div>


